<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<img src="/static/logo.jpg" />



<table class="table">
    <thead>
    <tr>
        <th>login</th>
        <th>nombre</th>
    </tr>
    </thead>
    <tbody>
    {% for item in usuarios %}
        <tr>
            <td>{{ item.cuenta }}</td>
            <td>{{ item.nombre_completo }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/listado/1">Inicial</a></li>
        {% if pagprev >= 1 %}
            <li class="page-item"><a class="page-link" href="/listado/{{ pagprev }}"><</a></li>
        {% endif %}
        {% for pag in listado_conteo %}
            <li class="page-item"><a class="page-link" href="/listado/{{ pag }}">{{ pag }}</a></li>
        {% endfor %}
        {% if pagnext <= conteo %}
            <li class="page-item"><a class="page-link" href="/listado/{{ pagnext }}">></a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/listado/{{ conteo }}">Final</a></li>
    </ul>
</nav>